@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import './grid.scss';


// SET COLORS
$lightGrey: #efeeed;
$mediumGrey: #dddcdc;
$darkGrey: #333333;
$disableGrey: #f6f6f6;
$red: #eb4a46;
$white: #ffffff;
$green: #00c8b3;
$easyPurple: #4E0250;

*,
*:before,
*:after {
  box-sizing: inherit;
  font-family: Roboto;
}
html, body {
  height: 100%;
  max-width: 100%;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

main{
  height: 100%;
  width: 100%;
  background-image: url(../img/people-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: grid;
  grid-template-columns: repeat(12,minmax(0,1fr));

  .left-section{
    margin-top: 15%;
    h2{
      color: $easyPurple;
      font-size: 30px;
      font-weight: 900;
    }
    form{
      display: flex;
      flex-direction: column;
      // width: 50%;
      background: $white;
      border-radius: 15px;
      padding: 25px 0;

      .success-message{
        width: 80%;
        margin: 10px auto;
        color: $green;
      }
    }
  }
}

.redirect-button{
  width: 90%;
  margin-top: 15px;
  margin-left: 5%;
}

.float-input{
  position: relative;
  display: inline-grid;
  width: 80%;
  margin: auto;
  margin-bottom: 15px;
  label{
      position: absolute;
      top: 10px;
      font-size: 16px;
      color: $lightGrey;
      transition: all .3s ease-out;
      -webkit-transition: all .3s ease-out;
      -moz-transition: all .3s ease-out;
  }
  input{
    z-index: 1;
    background: transparent;
    outline: none;
    border: 0;
    padding: 10px 0;
    color: $darkGrey;
    font-size: 16px;
    border-bottom: 1px solid $darkGrey;
    transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;

    &:focus +label{
        top: -10px;
        font-size: 12px;
    }
    &:not(:placeholder-shown) + label{
        top: -10px;
        font-size: 12px;
    }
    &.invalid{
      border-color: $red;
      
    }
  }
  span{
    font-size: 12px;
    color: $red;
    position: absolute;
    bottom: 0;
  }

  &--error{
    color: $red;
  }
} 
button{
  text-align: center;
  padding: 10px 0;
  background-color: $green;
  color: $white;
  cursor: pointer;
  border: 0;
  border-radius: 50px;
  font-size: 16px;
  font-weight: 600;
  width: 80%;
  margin: auto;
  &:hover{
    opacity: 0.7;
  }
  &:disabled{
    color: $mediumGrey;
    background: $disableGrey;
  }
}

.hide{
  display: none;
}
.block{
  display: block;
}



.delete-icon img, .edit-icon img, .delete-icon, .edit-icon, .save-icon img, .save-icon{
  cursor: pointer;
  width: 15px;
  background: transparent;
}

.button-load {
  display: inline-block;
  position: relative;
  width: 30px;
  height: 30px;
}
.button-load div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  border: 2px solid $white;
  border-radius: 50%;
  animation: button-load 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: $white transparent transparent transparent;
}
.button-load div:nth-child(1) {
  animation-delay: -0.45s;
}
.button-load div:nth-child(2) {
  animation-delay: -0.3s;
}
.button-load div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes button-load {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


table{
  th{
    text-align: left;
    font-weight: 300;
    color: $darkGrey;
    padding-left: 10px;
  }
  td{
    padding: 10px;
  }
  .center{
    text-align: center;
  }
}

main{

  .list-page{
  
    background: $white;
    width: fit-content;
    height: fit-content;
    padding: 50px;
    border-radius: 15px;
    margin-top: 5%;

  
    h2{
      justify-content: space-between;
      display: flex;
      align-items: flex-end; 
    }
    .face{
      width: 50px;
    }
  }
}

@media only screen and (max-width: 480px) {

  main{

    .left-section{
      form{
        width: 90%;
        margin: auto;
      }
      h2{
        text-align: center;
        margin: 15px auto;
        width: 80%;
      }
    } 
  }
  section.list-page{
    max-width: 100%;
    overflow: scroll;
  }

}


/* Small Sizes */
@media (max-width: 767px) { 
  
  /* Responsive Table */
  .table-responsive {
    display: block;
    position: relative;
    width: 100%;
  }

  .table-responsive thead,
  .table-responsive tbody,
  .table-responsive th,
  .table-responsive td,
  .table-responsive tr {
    display: block;
  }
  .table-responsive td,
  .table-responsive th {
    height: 35px;
  }

  .table-responsive thead {
    float: left;
  }

  .table-responsive tbody {
    width: auto;
    position: relative;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;
  }

  .table-responsive tbody tr {
    display: inline-block;
  }

  
  .table td:last-child {
     border-right: $mediumGrey solid 1px;
  }
}
